<p>
  Visit
  <a href="https://github.com/IzikAJ/geoip" target="_blank" rel="nofollow">GitHub</a>
  or
  <a href="https://hub.docker.com/r/izikaj/geoip" target="_blank" rel="nofollow">Docker Hub</a>
  for details
</p>
<p>
  <i><%= Geoip::VERSION %></i>
  <span>
    &copy;
    <%= Time.now.year %> by IzikAJ
  </span>
</p>
